footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}

footer .footer-container{
  width: 80%;
}

footer h4{
  color: #1f59a0;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

footer p{
  text-align: center;
  color: rgb(70, 70, 70);
}

footer p a{
  color: rgb(70, 70, 70);
  text-decoration: none;
}

footer .socialMedai-links{
  display: flex;
  justify-content: center;
  width: 100%;
}

footer .socialMedai-links img{
  object-fit: cover;
  width: 30px;
}

footer .policies{
  border-top: solid 2px rgba(70, 70, 70, 0.1);
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  font-size: 0.8rem;
}